.photo {
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 200px; /* Adjust the desired width */
  height: 200px; /* Adjust the desired height */
  transition: transform 0.2s ease-in-out;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photo:hover {
  transform: scale(1.2); /* Increase the scale to make it larger */
}

.photo .title {
  font: 50% Playfair Display, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.photo:hover .title {
  opacity: 1;
}
